 <head>
      <!-- Required meta tags -->
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"   />
      <link rel="shortcut icon" type="image/x-icon" href="/assets/img/burger.png">      
      <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
      <meta name="description" content="{% if page.description %}{{ page.description | escape }}{% else %}{{ site.description | escape }}{% endif %}" />
      <meta itemprop="name" content="CHAOS">
      <!-- Twitter Card data -->
      <meta name="twitter:title" content="CHAOS">
      <meta name="twitter:description" content="{% if page.description %}{{ page.description | escape }}{% else %}{{ site.description | escape }}{% endif %}">

      <!-- Open Graph data -->
      <meta property="og:title" content="CHAOS" />
      <meta property="og:description" content="{% if page.description %}{{ page.description | escape }}{% else %}{{ site.description | escape }}{% endif %}" />

      
      <link rel="shortcut icon" type="image/x-icon" href="/assets/img/burger.png">
      <link rel="stylesheet" href="/assets/css/style.min.css" />
   </head>
   <body>
