<div class="offcanvas-menu">
    <!-- Menus list -->
    <div class="menus" id="menus{{forloop.index}}" style="display: none;">
       <div class="flexDv">
          <a href="{{page.url}}" class="copy_text">
             Copy Link
          </a>
          <a href="{{ item.emailUrl }}add_to/email?linkurl={{page.url}}" target="_blank" >
             Email
          </a>
          <a href="https://twitter.com/intent/tweet?url={{page.url}}" target="_blank" >
             Twitter
          </a>
          <a href="https://www.facebook.com/sharer.php?u={{page.url}}" target="_blank" >
             Facebook
          </a>
       </div>
    </div>
    <a href="#" class="menu-toggle" id="menu-toggle{{forloop.index}}">
       <i class=""><svg xmlns="http://www.w3.org/2000/svg" width="40.23" height="50.316" viewbox="0 0 40.23 50.316" alt=" Upload">
        <g id="Component_75_11" data-name="Component 75 &#x2013; 11" transform="translate(1 1.414)">
        <g id="Component_52_2" data-name="Component 52 &#x2013; 2" transform="translate(3.368 -122.098) rotate(-90)">
        <g id="forward" transform="translate(-170 -3.368)">
        <g id="Group_24" data-name="Group 24" transform="translate(19.397 19.112)">
        <line id="Line_31" data-name="Line 31" x1="27.605" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="2"/>
        </g>
        <path id="Path_4" data-name="Path 4" d="M36.678,27.478V38.23H0V0H36.678V10.71" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="2"/>
        </g>
        <g id="Group_122" data-name="Group 122" transform="translate(-122.092 22.706) rotate(180)">
        <path id="Path_1" data-name="Path 1" d="M6.543,13.45.006,6.914,6.543.377" transform="translate(0)" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="2"/>
        </g>
        </g>
        </g>
        </svg>
      </i>
    </a>
 </div>